python-telegram-bot>=22.3,<23
yt-dlp>=2025.8.22

absl-py==2.2.2
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.16.4
altair==5.5.0
annotated-types==0.7.0
astunparse==1.6.3
attrs==25.3.0
av==15.0.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comfyui-embedded-docs==0.2.6
comfyui_frontend_package==1.25.11
comfyui_workflow_templates==0.1.68
einops==0.8.1
filelock==3.19.1
Flask==3.1.0
flatbuffers==25.2.10
frozenlist==1.7.0
fsspec==2025.7.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
greenlet==3.2.4
grpcio==1.71.0
h5py==3.13.0
huggingface-hub==0.34.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
keras==3.9.2
kornia==0.8.1
kornia_rs==0.1.9
libclang==18.1.1
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
multidict==6.6.4
namex==0.0.9
narwhals==1.40.0
networkx==3.5
numpy==2.1.3
opt_einsum==3.4.0
optree==0.15.0
packaging==24.2
pandas==2.2.3
pillow==11.2.1
propcache==0.3.2
protobuf==5.29.4
psutil==7.0.0
pyarrow==20.0.0
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2025.7.34
requests==2.32.3
rich==14.0.0
rpds-py==0.25.1
safetensors==0.6.2
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.1
setuptools==79.0.1
six==1.17.0
smmap==5.0.2
soundfile==0.13.1
spandrel==0.4.1
SQLAlchemy==2.0.43
streamlit==1.45.1
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.1
threadpoolctl==3.6.0
tokenizers==0.21.4
toml==0.10.2
torch==2.8.0
torchaudio==2.8.0
torchsde==0.2.6
torchvision==0.23.0
tornado==6.5
tqdm==4.67.1
trampoline==0.1.2
transformers==4.55.4
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
watchdog==6.0.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
yarl==1.20.1
